@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', cursive;
}

.app {
	width: 480px;
	margin: 0 auto;
	color: #333;
	/* overflow: hidden; */
}

.add-todo form {
	display: flex;
}

.add-todo input {
	flex: 1;
	font-size: 24px;
	font-family: inherit;
	padding: 5px 7px;
	border: 1px solid #8e8e8e;
	border-radius: 10px;
}

.add-todo input::placeholder {
	color: #333;
}

.add-todo input:focus {
	outline: none
}

.todo-list {
	margin: 10px 5px;
	padding: 0;
	font-size: 18px;
}

.todo-list__item {
	list-style: none;
	margin: 5px;
	cursor: pointer;
}

.footer {
	border-top: 1px solid #8e8e8e;
	padding: 10px 5px;
}

.footer span {
	margin-right: 5px;
}

.link {
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 16px;
	margin-left: 5px;
	color: #8e8e8e;
	transition: all .17s;
}

.link:hover {
	border-color: #8e8e8e;
}

.link:focus {
	outline: none;
}

.link[disabled] {
	border: 1px solid #8e8e8e;
	color: #8e8e8e;
}
